ul {
  list-style-type: none;
}

.navbar {
text-align:center;
  top:0;
  color:red;
  background-color:fuchsia;
  width:100%;
  text-align:center;
  height:1.5rem;
}

.navContainer {
  display:inline;
  white-space:nowrap;
  overflow:hidden;
  float:right;
}

.radioButton {
  display:inline-block;
}

.body {
  color:blue;
  padding-top:4%;
  text-align:center;
  background-color:forestgreen;
  height:800px;
  font-family:futura;
}

.aboutme {
  color:#FFF6EC;
  background-color:#228b22;
  height:800px;
}

.aboutContainer {
  display: flex;
  flex-flow:column wrap;
  float:left;
  /* align-items:stretch; */
  height:600px;
  justify-content: center;
  align-items: center;
}

#blurb {
  color:gold;
  width:30%;
  /* border:solid; */
  text-align:center;
}

#socialLinks {
  /* border:solid; */
  width:20%;
  height:7%;
  width:17%;
  text-align:center;
}

#skills {
  float:left;
  color:orange;
  /* border:solid; */
  width:7%;
  height:38%;
}

.graph {
  float:right;
  margin-top:100px;
  border:solid;
  width:21%;
  align:center;
}

.projects {
  padding-left:5%;
  background-color:forestgreen;
  color:white;
}

.projContainer {
  background-color:palegreen;
  color:maroon;
  border-style:solid;
  width:50%;
}

.cv {
  background-color:green;
  height:1000px;
}

.cvPdf {
  float:left;
  padding-left:10%;
}