* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

ul {
  list-style-type: none;
}

a {
  color:blue;
}

.body {
  background-color:linen;
  height:100vw;
  text-align:center;
  padding-top:10%;
}

#nameTitle {
  color:black;
}

.navbar {
text-align:center;
  top:0;
  color:white;
  background-color:grey;
  width:100%;
  text-align:center;
  height:2.5rem;
  border-style: solid;
  border-color:black;
  padding:4px
}

.navbar a {
  color:white;
}

.navContainer {
  display:inline;
  white-space:nowrap;
  overflow:hidden;
  float:right;
}

.radioButton {
  display:inline-block;
}

.aboutme {
  color:#FFF6EC;
  background-color:linen;
  height:100%;
}

.aboutContainer {
  display: flex;
  flex-flow:column wrap;
  height:600px;
  width:900px;
  padding-left:200px;
  justify-content: center;
  align-items: center;
}

.aboutContainer strong {
  color:red;
}

.aboutContainer a {
color:black;
font-style:italic;
}

#blurb {
  color:black;
  width:30%;
  text-align:center;
  border-style: solid;
  border-color: darkslateblue;
  background-color:white;
  box-shadow: 10px 10px darkgrey;
}

#socialLinks {
  width:20%;
  height:12%;
  color:black;
  text-align:center;
  border-style: solid;
  border-color: darkslateblue;
  background-color:white;
  box-shadow: 10px 10px darkgrey;
}

#skills {
  color:black;
  width:14%;
  height:46%;
  border-style: solid;
  border-color: darkslateblue;
  background-color:white;
  box-shadow: 10px 10px darkgrey;
}

#graphBox {
  margin:40px;
  width:35%;
  border-style: solid;
  border-color: darkslateblue;
  background-color:white;
  box-shadow: 10px 10px darkgrey;
}

.projects {
  background-color:linen;
  color:black;
  text-align:center;
  height:100vw;
  padding-left:5%;
}

.projContainer {
  background-color:rgb(24, 124, 124);
  color:rgb(0, 29, 32);
  border-style:solid;
  width:50%;
  margin:5px;
  box-shadow: 10px 10px darkgrey;
  margin-left:10%;
}

.projContainer:nth-child(even) {
  margin-left:30%;
  background-color:orange;
}

.projContainer img {
  transition:transform .25s ease;
}

.projContainer img:hover {
  -webkit-transform:scale(5.5); /* or some other value */
  transform:scale(5.5);
}

.cv {
  background-color:linen;
  height:100vw;
}

.cvPdf {
  padding-left:30%;
}

.menuLinks {
  text-align: center;
}