.navbar {
  /*position:fixed;*/
  top:0;
  color:red;
  background-color:pink;
}

.body {
  color:blue;
  margin-top:4%;
  background-color: lightblue;
}

.aboutme {
  color:yellow;
  background-color: gold;
  margin-top:3%;
}